.markdown-content a {
  color: inherit;
  text-decoration: none;
}

.markdown-content img {
  max-width: 100%;
  height: auto;
}

.markdown-content code {
  color: darkgoldenrod;
}

#layout-box {
  background: url("/background.svg");
  background-blend-mode: color-burn;
  background-repeat: repeat-y;
  background-position-x: center;
  background-position-y: top;
  background-size: 100vw;
}
